# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de logs
logs
*.log
npm-debug.log*

# Environnement de développement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dépendances
/node_modules
/.pnp
.pnp.js

# Production
/build
/dist

# Fichiers temporaires
.cache/
.temp/

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo
