<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Life Travel Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_PLUGIN_DIR" value="./"/>
    </php>
</phpunit>
